<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>givenName</key>
		<string>Taun</string>
		<key>familyName</key>
		<string>Chapman</string>
		<key>organizationName</key>
		<string>inTouch</string>
		<key>note</key>
		<string>Met at Startup Weekend</string>
		<key>thumbnailName</key>
		<string>taunc</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string></string>
		<key>emailHome</key>
		<string>taun@superdev.com</string>
		<key>emailWork</key>
		<string>taun@hireme.com</string>
		<key>countDown</key>
		<integer>-3</integer>
		<key>groups</key>
		<array>
			<string>monthly</string>
			<string>soccer</string>
			<string>friends</string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Kyle</string>
		<key>familyName</key>
		<string>Hampton</string>
		<key>organizationName</key>
		<string>inTouch</string>
		<key>note</key>
		<string>Met at Startup Weekend</string>
		<key>thumbnailName</key>
		<string>kyleh</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string></string>
		<key>emailHome</key>
		<string>kyle@superdev.com</string>
		<key>emailWork</key>
		<string>kyle@acceptme.com</string>
		<key>countDown</key>
		<integer>0</integer>
		<key>groups</key>
		<array>
			<string>3 months</string>
			<string>high school</string>
			<string>friends</string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Tyler</string>
		<key>familyName</key>
		<string>MacBroom</string>
		<key>organizationName</key>
		<string>inTouch</string>
		<key>note</key>
		<string>Worked at St. Jude&apos;s</string>
		<key>thumbnailName</key>
		<string>tylerm</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string></string>
		<key>emailHome</key>
		<string>tyler@cares.com</string>
		<key>emailWork</key>
		<string>tylerm@wharton.com</string>
		<key>countDown</key>
		<integer>1</integer>
		<key>groups</key>
		<array>
			<string>yearly</string>
			<string>MBA</string>
			<string>friends</string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Patrick</string>
		<key>familyName</key>
		<string>Mehta</string>
		<key>organizationName</key>
		<string>inTouch</string>
		<key>note</key>
		<string>Launched HBO Go</string>
		<key>thumbnailName</key>
		<string>patrickm</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string></string>
		<key>emailHome</key>
		<string>patrick@cares.com</string>
		<key>emailWork</key>
		<string>patrickm@wharton.com</string>
		<key>countDown</key>
		<integer>2</integer>
		<key>groups</key>
		<array>
			<string>monthly</string>
			<string>MBA</string>
			<string>friends</string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Monica</string>
		<key>familyName</key>
		<string>Lobo</string>
		<key>organizationName</key>
		<string></string>
		<key>note</key>
		<string></string>
		<key>thumbnailName</key>
		<string>monical</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string></string>
		<key>emailHome</key>
		<string>monica@gmail.com</string>
		<key>emailWork</key>
		<string>monica@dental.com</string>
		<key>countDown</key>
		<integer>4</integer>
		<key>groups</key>
		<array>
			<string>weekly</string>
			<string>tennis</string>
			<string>family</string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Kevin</string>
		<key>familyName</key>
		<string>Meyer</string>
		<key>organizationName</key>
		<string>Wharton</string>
		<key>note</key>
		<string>French guy</string>
		<key>thumbnailName</key>
		<string>kevinm</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string></string>
		<key>emailHome</key>
		<string></string>
		<key>emailWork</key>
		<string>kevinm@wharton.com</string>
		<key>countDown</key>
		<integer>6</integer>
		<key>groups</key>
		<array>
			<string>quarterly</string>
			<string>spikeball</string>
			<string>friends</string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Benjamin</string>
		<key>familyName</key>
		<string>Cottingham</string>
		<key>organizationName</key>
		<string>TFA</string>
		<key>note</key>
		<string></string>
		<key>thumbnailName</key>
		<string>benc</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string></string>
		<key>emailHome</key>
		<string>benjamin@unc.com</string>
		<key>emailWork</key>
		<string></string>
		<key>countDown</key>
		<integer>14</integer>
		<key>groups</key>
		<array>
			<string>yearly</string>
			<string>UNC</string>
			<string>friends</string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Shalini</string>
		<key>familyName</key>
		<string>Patel</string>
		<key>organizationName</key>
		<string></string>
		<key>note</key>
		<string>dentist</string>
		<key>thumbnailName</key>
		<string>shalinip</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string></string>
		<key>emailHome</key>
		<string>shalinip@dental.com</string>
		<key>emailWork</key>
		<string></string>
		<key>countDown</key>
		<integer>18</integer>
		<key>groups</key>
		<array>
			<string>yearly</string>
			<string>besties</string>
			<string>friends</string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Jarrod</string>
		<key>familyName</key>
		<string>Dominick</string>
		<key>organizationName</key>
		<string>Delta</string>
		<key>note</key>
		<string>old boss</string>
		<key>thumbnailName</key>
		<string>jarrodd</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string>123-456-7890</string>
		<key>emailHome</key>
		<string></string>
		<key>emailWork</key>
		<string>jarrod@delta.com</string>
		<key>countDown</key>
		<integer>23</integer>
		<key>groups</key>
		<array>
			<string>yearly</string>
			<string>delta</string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Charith</string>
		<key>familyName</key>
		<string>Fernando</string>
		<key>organizationName</key>
		<string>Delta</string>
		<key>note</key>
		<string></string>
		<key>thumbnailName</key>
		<string>charithc</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string>123-456-7890</string>
		<key>emailHome</key>
		<string></string>
		<key>emailWork</key>
		<string>charithf@delta.com</string>
		<key>countDown</key>
		<integer>24</integer>
		<key>groups</key>
		<array>
			<string>yearly</string>
			<string>delta</string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Joe</string>
		<key>familyName</key>
		<string>Schmo</string>
		<key>organizationName</key>
		<string></string>
		<key>note</key>
		<string></string>
		<key>thumbnailName</key>
		<string>joes</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string></string>
		<key>emailHome</key>
		<string></string>
		<key>emailWork</key>
		<string></string>
		<key>countDown</key>
		<integer>46</integer>
		<key>groups</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>givenName</key>
		<string>Jane</string>
		<key>familyName</key>
		<string>Smith</string>
		<key>organizationName</key>
		<string></string>
		<key>note</key>
		<string></string>
		<key>thumbnailName</key>
		<string>janes</string>
		<key>phoneHome</key>
		<string>123-456-7890</string>
		<key>phoneWork</key>
		<string></string>
		<key>emailHome</key>
		<string></string>
		<key>emailWork</key>
		<string></string>
		<key>countDown</key>
		<integer>120</integer>
		<key>groups</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
</array>
</plist>
